<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Smartler</title>
	
<!--

Template 2102 Constructive

http://www.tooplate.com/view/2102-constructive

-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
	<link rel="stylesheet" href="static/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/magnific-popup.css"/>
	<link rel="stylesheet" type="text/css" href="static/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css"/>
	<link rel="stylesheet" href="static/css/tooplate-style.css">

	<script>
		var renderPage = true;

	if(navigator.userAgent.indexOf('MSIE')!==-1
		|| navigator.appVersion.indexOf('Trident/') > 0){
   		/* Microsoft Internet Explorer detected in. */
   		alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
   		renderPage = false;
	}
	</script>
</head>

<body>
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	
	<!-- Page Content -->
	<div class="container-fluid tm-main">
		<div class="row tm-main-row">

			<!-- Sidebar -->
			<div id="tmSideBar" class="col-xl-3 col-lg-4 col-md-12 col-sm-12 sidebar">

				<button id="tmMainNavToggle" class="menu-icon">&#9776;</button>

				<div class="inner">
					<nav id="tmMainNav" class="tm-main-nav">
						<ul>
							<li>
								<a href="#intro" id="tmNavLink1" class="scrolly active" data-bg-img="constructive_bg_05.jpg" data-page="#tm-section-1">
									<i class="fas fa-home tm-nav-fa-icon"></i>
									<span>Start here</span>
								</a>
							</li>							
							<li>
								<a href="#instructions" id="tmNavLink3" class="scrolly" data-bg-img="constructive_bg_07.jpg" data-page="#tm-section-3">
									<i class="fas fa-users tm-nav-fa-icon"></i>
									<span>Instructions</span>
								</a>
							</li>
							<li>
								<a href="#contact" id="tmNavLink4" class="scrolly" data-bg-img="constructive_bg_08.jpg" data-page="#tm-section-4">
									<i class="fas fa-comments tm-nav-fa-icon"></i>
									<span>About</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content">

					<!-- section 1 -->
					<section id="tm-section-1" class="tm-section">
						<div class="ml-auto">
							<header class="mb-4"><h1 class="tm-text-shadow">Please specify the Start and End time of your Day</h1></header>
							<form action="" method="POST" id="formid">
								{% csrf_token %}
							<div class=" form-row">
								<div class="form-group col-lg-12">
									<p class="mb-5 tm-font-big"><input name="name" class="form-control" type="text" placeholder="Please tell me your name" required></p>
								</div>
								<div class="form-group col-lg-6">
									<p class="mb-5 tm-font-big"><input name="start" id="startid" class="form-control" type="time"></p>
								</div>
								<div class="form-group col-lg-6">
									<p class="mb-5 tm-font-big"><input name="end" id="endid" class="form-control" type="time"></p>
								</div>
								
									<button type="button" class="btn tm-btn tm-font-big" onclick="checkstend()">Done</button>
							
								 
							</div>
							
							</form>
							
							
							<!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
						</div>
					</section>


					<!-- section 3 -->
					<section id="tm-section-3" class="tm-section">						
						<div class="row mb-4">
							<header class="col-xl-12"><h2 class="tm-text-shadow">Instructions</h2></header>		
						</div>
						<div class="row" style="text-shadow: 2px 2px 6px black;">
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fas fa-clock tm-icon-circled tm-icon-media"></i>
									<div class="media-body">
										<h3>Start-End of the Day</h3>
										<b><p>You have to specify the <b>Start</b> and <b>End</b> time of your day so that we can move forward!</p></b>	
									</div>
								</div>
							</div>	
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fas fa-tasks mr-4 tm-icon-circled tm-icon-media"></i>	
									<div class="media-body">
										<h3>Tasks</h3>
										<b><p>You have to specify the name of your Tasks that you want us to add in your schedule!</p></b>	
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fas fa-utensils mr-4 tm-icon-circled tm-icon-media"></i>
									<div class="media-body">
										<h3>Fixed Tasks</h3>
										<b><p>Here you have to tell us some of your Fixed tasks (ex- Lunch, Gym, Dinner, Family time, Movie time, etc) to be included in Schedule!</p></b>		
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-12 col-xl-6 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fas fa-calendar-check mr-4 tm-icon-circled tm-icon-media"></i>
									<div class="media-body">
										<h3>Schedular Result</h3>
										<b><p>Finally, the algorithm calculates the personalised schedule based on your the Tasks you have specified as well as the Start and the End of the Day</p></b>	
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
								<div class="media tm-bg-transparent-black tm-border-white">
									<i class="fas fa-star mr-4 tm-icon-circled tm-icon-media"></i>
									<div class="media-body">
										<h3>Please remember..</h3>
										<b>The Freetime is added for the sake of your convenience so that your schedule dont overfit, It can also be used as expanded time for previous Task; it has been added considering that your previous Task might be pending!</b><br><br>
										<b>The Algorithm may not work if:</b>
										<ul>
											<li>You have specified invalid Start and End of the Day.</li>
											<li>You have added invalid time for Fixed tasks.</li>
											<li>You have repeated the Tasks.</li>
										</ul>
									</div>
								</div>
							</div>			          		
						</div>						               
					</section>

					<!-- section 4 -->
					<section id="tm-section-4" class="tm-section">
						<div class="tm-bg-transparent-black tm-contact-box-pad">
							<div class="row mb-4">
								<div class="col-sm-12">
									<header><h2 class="tm-text-shadow">About Us</h2></header>
								</div>
							</div>
							<div class="row tm-page-4-content">
								<div class="col-md-6 col-sm-12 tm-contact-col">
									Schedular Algorithm: <br>Version: V2.0.1 <br>
									Email: <a href="mailto:shivanshusurya192@gmail.com">shivanshusurya192@gmail.com</a><br>
									Github:<br> <a href="www.github.com/jiminnpark">www.github.io/jiminnpark</a><br>

								</div>
								<div class="col-md-6 col-sm-12 tm-contact-col">
									<b>Found a bug?</b>
									<br>Please let us know in the email address given below</br>
									<a href="mailto:shivanshusurya192@gmail.com">shivanshusurya192@gmail.com</a>
								</div>
							</div>
						</div>
					</section>					
				</div>	<!-- .tm-content -->							
				<footer class="footer-link">
					<p>&copy shivanshusurya192@gmail.com</p>
				</footer>
			</div>	<!-- row -->			
		</div>
		<div id="preload-01"></div>
		<div id="preload-02"></div>
		<div id="preload-03"></div>
		<div id="preload-04"></div>

		<script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="static/slick/slick.min.js"></script> <!-- Slick Carousel -->


		<script>
			function checkstend()
			{
				var start=document.getElementById("startid");
				var end=document.getElementById("endid");
				var form=document.getElementById("formid");
				if(start.value=="" || end.value=="")
				{
					alert("Start/End Time must be specified!");
				}
				else if(parseInt(start.value)>parseInt(end.value))
				{
					alert("Please specify a Valid time interval!");
				}
				else
				{
				form.submit();
				}
			}
		</script>
		<script>

		var sidebarVisible = false;
		var currentPageID = "#tm-section-1";

		// Setup Carousel
		function setupCarousel() {

			// If current page isn't Carousel page, don't do anything.
			if($('#tm-section-2').css('display') == "none") {
			}
			else {	// If current page is Carousel page, set up the Carousel.

				var slider = $('.tm-img-slider');
				var windowWidth = $(window).width();

				if (slider.hasClass('slick-initialized')) {
					slider.slick('destroy');
				}

				if(windowWidth < 640) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 1,
	              		slidesToScroll: 1
	              	});
				}
				else if(windowWidth < 992) {
					slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 2,
	              		slidesToScroll: 1
	              	});
				}
				else {
					// Slick carousel
	              	slider.slick({
	              		dots: true,
	              		infinite: false,
	              		slidesToShow: 3,
	              		slidesToScroll: 2
	              	});
				}

				// Init Magnific Popup
				$('.tm-img-slider').magnificPopup({
				  delegate: 'a', // child items selector, by clicking on it popup will open
				  type: 'image',
				  gallery: {enabled:true}
				  // other options
				});
      		}
  		}

  		// Setup Nav
  		function setupNav() {
  			// Add Event Listener to each Nav item
	     	$(".tm-main-nav a").click(function(e){
	     		e.preventDefault();
		    	
		    	var currentNavItem = $(this);
		    	changePage(currentNavItem);
		    	
		    	setupCarousel();
		    	setupFooter();

		    	// Hide the nav on mobile
		    	$("#tmSideBar").removeClass("show");
		    });	    
  		}

  		function changePage(currentNavItem) {
  			// Update Nav items
  			$(".tm-main-nav a").removeClass("active");
     		currentNavItem.addClass("active");

	    	$(currentPageID).hide();

	    	// Show current page
	    	currentPageID = currentNavItem.data("page");
	    	$(currentPageID).fadeIn(1000);

	    	// Change background image
	    	var bgImg = currentNavItem.data("bgImg");
	    	$.backstretch("static/img/" + bgImg);		    	
  		}

  		// Setup Nav Toggle Button
  		function setupNavToggle() {

			$("#tmMainNavToggle").on("click", function(){
				$(".sidebar").toggleClass("show");
			});
  		}

  		// If there is enough room, stick the footer at the bottom of page content.
  		// If not, place it after the page content
  		function setupFooter() {
  			
  			var padding = 100;
  			var footerPadding = 40;
  			var mainContent = $("section"+currentPageID);
  			var mainContentHeight = mainContent.outerHeight(true);
  			var footer = $(".footer-link");
  			var footerHeight = footer.outerHeight(true);
  			var totalPageHeight = mainContentHeight + footerHeight + footerPadding + padding;
  			var windowHeight = $(window).height();		

  			if(totalPageHeight > windowHeight){
  				$(".tm-content").css("margin-bottom", footerHeight + footerPadding + "px");
  				footer.css("bottom", footerHeight + "px");  			
  			}
  			else {
  				$(".tm-content").css("margin-bottom", "0");
  				footer.css("bottom", "20px");  				
  			}  			
  		}

  		// Everything is loaded including images.
      	$(window).on("load", function(){

      		// Render the page on modern browser only.
      		if(renderPage) {
				// Remove loader
		      	$('body').addClass('loaded');

		      	// Page transition
		      	var allPages = $(".tm-section");

		      	// Handle click of "Continue", which changes to next page
		      	// The link contains data-nav-link attribute, which holds the nav item ID
		      	// Nav item ID is then used to access and trigger click on the corresponding nav item
		      	var linkToAnotherPage = $("a.tm-btn[data-nav-link]");
			    
			    if(linkToAnotherPage != null) {
			    	
			    	linkToAnotherPage.on("click", function(){
			    		var navItemToHighlight = linkToAnotherPage.data("navLink");
			    		$("a" + navItemToHighlight).click();
			    	});
			    }
		      	
		      	// Hide all pages
		      	allPages.hide();

		      	$("#tm-section-1").fadeIn();

		     	// Set up background first page
		     	var bgImg = $("#tmNavLink1").data("bgImg");
		     	
		     	$.backstretch("static/img/" + bgImg, {fade: 500});

		     	// Setup Carousel, Nav, and Nav Toggle
			    setupCarousel();
			    setupNav();
			    setupNavToggle();
			    setupFooter();

			    // Resize Carousel upon window resize
			    $(window).resize(function() {
			    	setupCarousel();
			    	setupFooter();
			    });
      		}	      	
		});

		</script>
	</body>
</html>